Repository blackphoenix42/blackphoenix42, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, github-actions, config, frontend, assets, security, dependencies

updt
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
Labels: documentation

update
  .github/FUNDING.yml
Labels: config

updt
  .github/FUNDING.yml
Labels: config

update profile readme
  .github/workflows/Snake.yml
  .github/workflows/rotate-quote.yml
  .github/workflows/waka-readme.yml
  .gitignore
  README.md
  requirements.txt
  scripts/update_quote.py
Labels: documentation, github-actions, config, dependencies

update
  .github/workflows/Snake.yml
Labels: github-actions, config

updt
  .github/workflows/waka-readme.yml
Labels: github-actions, config

update waka
  .github/workflows/waka-readme.yml
  README.md
Labels: documentation, github-actions, config

update waka
  .github/workflows/waka-readme.yml
Labels: github-actions, config

update workflow
  .github/workflows/stack-overflow-workflow.yml
Labels: github-actions, config

Updated readme with the latest stackOverflow data
  README.md
Labels: documentation

update
  .github/workflows/stack-overflow-workflow.yml
Labels: github-actions, config

update workflows
  .github/workflows/stack-overflow-workflow.yml
  .github/workflows/waka-readme.yml
Labels: github-actions, config

update overflow
  .github/workflows/stack-overflow-workflow.yml
Labels: github-actions, config

Updated readme with the latest stackOverflow data
  README.md
Labels: documentation

Update
  .github/workflows/stack-overflow-workflow.yml
  .github/workflows/youtube-workflow.yml
Labels: github-actions, config

Updated readme with the latest stackOverflow data
  README.md
Labels: documentation

Updated with the latest blog posts
  README.md
Labels: documentation

update README
  .github/workflows/blog-post-workflow.yml
  .github/workflows/youtube-workflow.yml
  README.md
Labels: documentation, github-actions, config

Updated with the latest blog posts
  README.md
Labels: documentation

Updated with the latest blog posts
  README.md
Labels: documentation

Updated readme with the latest stackOverflow data
  README.md
Labels: documentation

update stack overflow workflow
  .github/workflows/stack-overflow-workflow.yml
Labels: github-actions, config

Update quotes workflow
  README.md
  scripts/update_quote.py
Labels: documentation

Updated readme with the latest stackOverflow data
  README.md
Labels: documentation

update
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

Update readme
  .github/workflows/blog-post-workflow.yml
  README.md
Labels: documentation, github-actions, config

Updated with the latest blog posts
  README.md
Labels: documentation

update
  README.md
Labels: documentation

Updated with the latest blog posts
  README.md
Labels: documentation

Updated readme with the latest stackOverflow data
  README.md
Labels: documentation

update README.md
  .github/workflows/waka-readme.yml
  README.md
  assets/github-contribution-grid-snake-dark.svg
  assets/github-contribution-grid-snake.gif
  assets/github-contribution-grid-snake.svg
Labels: documentation, github-actions, config, assets

Update README
  README.md
Labels: documentation

update readme again
  README.md
Labels: documentation

Updated readme with the latest stackOverflow data
  README.md
Labels: documentation

Updated with the latest blog posts
  README.md
Labels: documentation

Add jokes in footer
  .github/workflows/update-footer.yml
  README.md
  scripts/update-footer.mjs
Labels: documentation, github-actions, config

update con
  .github/workflows/rotate-quote.yml
Labels: github-actions, config

add repo health and cp stats
  .github/workflows/readme-health-check.yml
  .github/workflows/update-cp-stats.yml
  scripts/readme_health_check.py
  scripts/update_cp_stats.py
Labels: github-actions, config

add fallback link for footer
  scripts/update-footer.mjs
Labels: none

.github/labeler.yml:

# Configuration for automatic labeling of PRs based on file changes
# Documentation: https://github.com/actions/labeler
# This configuration uses the v6 format

# Documentation changes
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.md"
          - "docs/**/*"

# Workflow changes
github-actions:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/workflows/**"
          - ".github/actions/**"

# Configuration files
config:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.json"
          - "**/*.yml"
          - "**/*.yaml"
          - "**/*.toml"
          - "**/*.ini"
          - "**/*.cfg"
          - ".github/**"

# Web technologies
frontend:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.html"
          - "**/*.css"
          - "**/*.scss"
          - "**/*.sass"
          - "**/*.js"
          - "**/*.jsx"
          - "**/*.ts"
          - "**/*.tsx"
          - "**/*.vue"

# Assets
assets:
  - changed-files:
      - any-glob-to-any-file:
          - "assets/**/*"
          - "**/*.png"
          - "**/*.jpg"
          - "**/*.jpeg"
          - "**/*.gif"
          - "**/*.svg"
          - "**/*.ico"

# Security
security:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/SECURITY.md"
          - "**/SECURITY.md"

# Dependencies
dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - "package*.json"
          - "yarn.lock"
          - "requirements*.txt"
          - "Pipfile*"
          - "Gemfile*"
          - "go.mod"
          - "go.sum"
