Repository blackphoenix42/blackphoenix42, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, github-actions, config, frontend, assets, security, dependencies

.github/labeler.yml:

# Configuration for automatic labeling of PRs based on file changes
# Documentation: https://github.com/actions/labeler
# This configuration uses the v6 format

# Documentation changes
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.md"
          - "docs/**/*"

# Workflow changes
github-actions:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/workflows/**"
          - ".github/actions/**"

# Configuration files
config:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.json"
          - "**/*.yml"
          - "**/*.yaml"
          - "**/*.toml"
          - "**/*.ini"
          - "**/*.cfg"
          - ".github/**"

# Web technologies
frontend:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.html"
          - "**/*.css"
          - "**/*.scss"
          - "**/*.sass"
          - "**/*.js"
          - "**/*.jsx"
          - "**/*.ts"
          - "**/*.tsx"
          - "**/*.vue"

# Assets
assets:
  - changed-files:
      - any-glob-to-any-file:
          - "assets/**/*"
          - "**/*.png"
          - "**/*.jpg"
          - "**/*.jpeg"
          - "**/*.gif"
          - "**/*.svg"
          - "**/*.ico"

# Security
security:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/SECURITY.md"
          - "**/SECURITY.md"

# Dependencies
dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - "package*.json"
          - "yarn.lock"
          - "requirements*.txt"
          - "Pipfile*"
          - "Gemfile*"
          - "go.mod"
          - "go.sum"

Updated with the latest blog posts
  README.md
Labels: documentation

update mirror assets
  scripts/mirror_assets.py
Labels: none

update monitor_rewrite
  scripts/monitor_and_rewrite.py
Labels: none

update
  README.md
Labels: documentation

Updated readme with the latest stackOverflow data
  README.md
Labels: documentation

Updated with the latest blog posts
  README.md
Labels: documentation

update scripts
  scripts/mirror_assets.py
  scripts/monitor_and_rewrite.py
Labels: none

Updated with the latest blog posts
  README.md
Labels: documentation

update yml workflows
  .github/workflows/readme_asset_mirror.yml
  .github/workflows/readme_health.yml
  .github/workflows/rotate-quote.yml
Labels: github-actions, config

update
  .github/workflows/readme_asset_mirror.yml
Labels: github-actions, config

update workflows
  .github/workflows/readme_health.yml
  .github/workflows/rotate-quote.yml
Labels: github-actions, config

Updated with the latest blog posts
  README.md
Labels: documentation

Updated readme with the latest stackOverflow data
  README.md
Labels: documentation

Updated with the latest blog posts
  README.md
Labels: documentation

Updated with the latest blog posts
  README.md
Labels: documentation

Updated with the latest blog posts
  README.md
Labels: documentation

Updated with the latest blog posts
  README.md
Labels: documentation

Updated with the latest blog posts
  README.md
Labels: documentation

Updated with the latest blog posts
  README.md
Labels: documentation

Updated with the latest blog posts
  README.md
Labels: documentation

Updated with the latest blog posts
  README.md
Labels: documentation

Updated with the latest blog posts
  README.md
Labels: documentation

Updated with the latest blog posts
  README.md
Labels: documentation

Updated with the latest blog posts
  README.md
Labels: documentation

Updated with the latest blog posts
  README.md
Labels: documentation

Updated with the latest blog posts
  README.md
Labels: documentation

Updated with the latest blog posts
  README.md
Labels: documentation

Updated with the latest blog posts
  README.md
Labels: documentation

Updated with the latest blog posts
  README.md
Labels: documentation

Updated with the latest blog posts
  README.md
Labels: documentation

Updated with the latest blog posts
  README.md
Labels: documentation

Updated with the latest blog posts
  README.md
Labels: documentation

Updated with the latest blog posts
  README.md
Labels: documentation

Updated with the latest blog posts
  README.md
Labels: documentation

Updated with the latest blog posts
  README.md
Labels: documentation

Updated with the latest blog posts
  README.md
Labels: documentation

Updated with the latest blog posts
  README.md
Labels: documentation

Updated with the latest blog posts
  README.md
Labels: documentation

Updated with the latest blog posts
  README.md
Labels: documentation

Updated with the latest blog posts
  README.md
Labels: documentation
